<style>
    select option:disabled {
        color: #858585;
        /* font-weight: bold; */
        background: #e2e2e2;
    }
</style>
<input type="hidden" id="hdn_superadmin" name="hdn_superadmin" value="<?php echo $_SESSION['rol_usuario'];?>">
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Clasificación de Clientes</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-6">
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cliente final:</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table" border="0px">
                            <tbody>
                                <tr>
                                    <td>Activo: última compra, hace menos de 2 meses</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_final_activo" onclick="clasificacion_final(1)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Inactivo: última compra, hace menos de 4 meses</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_final_activo" onclick="clasificacion_final(2)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Perdido: ultima compra, hace más de 4 meses</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_final_activo" onclick="clasificacion_final(3)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cliente distribuidor y superdistribuidor:</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table" border="0px">
                            <tbody>
                                <tr>
                                    <td>Activo: última compra hace menos de 1 mes</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_distribuidor_activo" onclick="clasificacion_distribuidor(1)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Inactivo: última compra hace menos de 2 meses</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_distribuidor_activo" onclick="clasificacion_distribuidor(2)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Perdido: última compra hace más de 2 meses</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_distribuidor_activo" onclick="clasificacion_distribuidor(3)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="box box-info box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cliente representante:</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table" border="0px">
                            <tbody>
                                <tr>
                                    <td>Activo: última compra hace menos de 3 meses</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_representante_activo" onclick="clasificacion_representante(1)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Inactivo: última compra hace menos de 5 meses</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_representante_activo" onclick="clasificacion_representante(2)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Perdido: última compra hace mas de 5 meses</td>
                                    <td>
                                        <button class="btn btn-primary text-right" id="btnClasificacion_representante_activo" onclick="clasificacion_representante(3)" ><i class="fa fa-file"></i> Ejecutar clasificación</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>

        


    </div>

</div>