<section class="content-header">
  <h1>CRONOGRAMA DE REPORTES TOTALES DE OVT</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
    src="https://onedrive.live.com/embed?cid=0DCF2FF03282E5E9&resid=DCF2FF03282E5E9%21192009&authkey=AFwAAQUhSPHS3-E&em=2" allowfullscreen
    frameborder="0"
    scrolling="no"
    wdDownloadButton=False
  ></iframe>
</div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $('#liDocumentacion').addClass("treeview active");
  $('#liDocVentas').addClass("treeview active");
  $("#liAnexos").addClass("treeview active");
  $("#liCronogramaReportesTotalesOVT").addClass("treeview active");
</script>