<section class="content-header">
  <!-- <div class="row">
    <div class="col-lg-6">
      <h3>
        Totales
        <small>Compras, Ventas y Creditos</small>
      </h3>
    </div> -->
    <!-- <div class="col-lg-6">
      <label for="inputMarca">Sucursal </label>
      <select
        id="idSucursalFormulario"
        name="idSucursalFormulario"
        class="form-control"
      >
        <option value=""></option>
        <option value="1">Arequipa</option>
        <option value="2">Lima</option>
      </select>
    </div> -->
  <!-- </div> -->
</section>
<?php

require_once "model/Grafico.php";

$objGlobal = new Grafico();

$query_Global = $objGlobal->Totales(0); while
($reg_Global=$query_Global->fetch_object()) { $moneda=$reg_Global->moneda;
$totalingreso=$reg_Global->totalingreso;
$totalcontado=$reg_Global->totalcontado;
$totalcredito=$reg_Global->totalcredito;
$totalcontadomes=$reg_Global->totalcontadomes; } $query_Global =
$objGlobal->Totales(1); while ($reg_Global= $query_Global->fetch_object()) {
$moneda1=$reg_Global->moneda; $totalingreso1=$reg_Global->totalingreso;
$totalcontado1=$reg_Global->totalcontado;
$totalcredito1=$reg_Global->totalcredito;
$totalcontadomes1=$reg_Global->totalcontadomes; } $query_Global =
$objGlobal->Totales(2); while ($reg_Global= $query_Global->fetch_object()) {
$moneda2=$reg_Global->moneda; $totalingreso2=$reg_Global->totalingreso;
$totalcontado2=$reg_Global->totalcontado;
$totalcredito2=$reg_Global->totalcredito;
$totalcontadomes2=$reg_Global->totalcontadomes; } $query_Global2
=$objGlobal->TotalesVentas($_SESSION["idsucursal"]); while
($reg_Global2=$query_Global2->fetch_object()) { $moneda=$reg_Global2->moneda;
$ventas1=$reg_Global2->ventas1; $ventas2=$reg_Global2->ventas2;
$ventas3=$reg_Global2->ventas3; $ventas4=$reg_Global2->ventas4;
$ventas5=$reg_Global2->ventas5; $ventas6=$reg_Global2->ventas6;
$ventas7=$reg_Global2->ventas7; $ventas8=$reg_Global2->ventas8; }
$query_Global3= $objGlobal->CantidadVentas($_SESSION["idsucursal"]); while
($reg_Global3=$query_Global3->fetch_object()) {
$cantidad1=$reg_Global3->cantidad1; $cantidad2=$reg_Global3->cantidad2;
$cantidad3=$reg_Global3->cantidad3; $cantidad4=$reg_Global3->cantidad4;
$cantidad5=$reg_Global3->cantidad5; $cantidad6=$reg_Global3->cantidad6;
$cantidad7=$reg_Global3->cantidad7; $cantidad8=$reg_Global3->cantidad8; }




// $_SESSION["idempleado"]=6;
require_once "model/Grafico.php"; 
$objGlobal = new Grafico(); 
$query_Global = $objGlobal->VentasTotales(0,$_SESSION["idempleado"]); 

while($ventasGenerales=$query_Global->fetch_object()) {

$ventas_diarias=$ventasGenerales->ventas_diarias;
$ventas_semanales=$ventasGenerales->ventas_semanales;
$ventas_mensuales=$ventasGenerales->ventas_mensuales;
$ventas_anuladas=$ventasGenerales->ventas_anuladas; } 

$query_GlobalArequipa =$objGlobal->VentasTotales(1,$_SESSION["idempleado"]); 
while
($ventasGenerales=$query_GlobalArequipa->fetch_object()) {
$ventas_diarias1=$ventasGenerales->ventas_diarias;
$ventas_semanales1=$ventasGenerales->ventas_semanales;
$ventas_mensuales1=$ventasGenerales->ventas_mensuales;
$ventas_anuladas1=$ventasGenerales->ventas_anuladas; } 

$query_GlobalLima=$objGlobal->VentasTotales(2,$_SESSION["idempleado"]); 
while
($ventasGenerales=$query_GlobalLima->fetch_object()) {
$ventas_diarias2=$ventasGenerales->ventas_diarias;
$ventas_semanales2=$ventasGenerales->ventas_semanales;
$ventas_mensuales2=$ventasGenerales->ventas_mensuales;
$ventas_anuladas2=$ventasGenerales->ventas_anuladas; 
} 


$query_Global_por_usuario = $objGlobal->VentasPorUsuario([18 ,14 ,20 ,19 ,15 ,16 ,17 ,6]); 


foreach (json_decode($query_Global_por_usuario) as &$elemento) {  
  
  // print_r($elemento);


} 
?>

<section class="content">
  <?php 
  // if(!in_array($_SESSION["idempleado"],[12, 14, 15, 16, 18, 20 , 19])){
    echo '
    <div class="box">
      <div class="box-header with-border">
        <h3>
          Ventas
          <small>General y por Sucursales</small>
        </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button class="btn btn-box-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="row box-body">
        <div class="col-lg-12 col-xs-12">
            <h4>Ventas General</h4>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua ">
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                 '.$ventas_diarias.'
              </h4>
              <p>Total de Venta del Dia</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas del dia <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua ">
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_semanales.'
              </h4>
              <p>Total de Venta Semanal</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Semanales <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_mensuales.'
              </h4>
              <p>Total de Ventas Mensuales</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Mensuales <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red disabled">
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_anuladas.'
              </h4>
              <p>Total de Ventas Anuladas en el Mes</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-ban-circle"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Anuladas en el Me <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12">
          <h4>Ventas - Arequipa</h4>
      </div>

        <div class="col-lg-3 col-xs-6">
          <div
            class="small-box bg-green "
           
          >
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_diarias1.'
            
              </h4>
              <p>Total de Ventas Diarias</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas del dia <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div
            class="small-box bg-green "
           
          >
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_semanales1.'

              </h4>
              <p>Total de Ventas Semanales</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Semanales<i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div
            class="small-box bg-green "
         
          >
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_mensuales1.'
              </h4>
              <p>Total de Ventas Mensuales</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Mensuales <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div
            class="small-box bg-red "
          
          >
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_anuladas1.'
              </h4>
              <p>Total de Ventas Anuladas en el Mes</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-ban-circle"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Anuladas en el Me <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12">
          <h4>Ventas - Lima</h4>
      </div>

        <div class="col-lg-3 col-xs-6">
          <div
            class="small-box bg-yellow "
          >
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_diarias2.'
              </h4>
              <p>Total de Ventas Diarias</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas del dia <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div
            class="small-box bg-yellow "
          >
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_semanales2. '
              </h4>
              <p>Total de Ventas Semanales</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Semanales <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div
            class="small-box bg-yellow "
         
          >
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_mensuales2.'
              </h4>
              <p>Total de Ventas Mensuales</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Mensuales <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div
            class="small-box bg-red "
           
          >
            <div class="inner">
              <h4>
                <sup style="font-size: 16px">'.$moneda.'</sup>
                '.$ventas_anuladas2.'
              </h4>
              <p>Total de Ventas Anuladas en el Mes</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-ban-circle"></i>
            </div>
            <a href="ComprasFechas.php" class="small-box-footer"
              >Ventas Anuladas en el Me <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>';
  //}
  ?>

 
  
 

<?php 
  if(!in_array($_SESSION["idempleado"],[12, 14, 15, 16, 18, 20 , 19])){
    
  echo '
  <div class="box">
    <div class="box-header with-border">
      <h4>Ventas por Ejecutivos de Ventas</h4>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
        <button class="btn btn-box-tool" data-widget="remove">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <div class="row box-body">';

  foreach (json_decode($query_Global_por_usuario) as &$elemento) { 
        $elemento->color='bg-red';

        if($elemento->vendedor=='Jefe Ventas'){
          $elemento->color='bg-blue';
        }

        else if($elemento->vendedor=='Gabriel  Puma '){
          $elemento->color='bg-green';
        }
        echo '
   

        <div class="col-lg-3 col-xs-6">
          <div class="box box-widget widget-user-2">

            <div class="widget-user-header '.$elemento->color.' ">
            <div class="widget-user-image">
            <img class="img-circle" src="'.$elemento->foto.'" alt="User Avatar">
            </div>
            
            <h3 class="widget-user-username">'.$elemento->vendedor.'</h3>
            <h5 class="widget-user-desc">Empleado</h5>
            </div>
             <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
            <li><a href="#">Monto Diario : <strong>S/ '.$elemento->ventas_diarias.'</strong>  <span class="pull-right badge bg-blue">'.$elemento->ventas_diarias_cantidad.' pedidos</span></a></li>
            <li><a href="#"> Monto Semanal: <strong>S/ '.$elemento->ventas_semanales.'</strong> <span class="pull-right badge bg-aqua">'.$elemento->ventas_semanales_cantidad.' pedidos</span></a></li>
            <li><a href="#"> Monto Mensual: <strong>S/ '.$elemento->ventas_mensuales.'</strong> <span class="pull-right badge bg-green">'.$elemento->ventas_mensuales_cantidad.' pedidos</span></a></li>
            <li><a href="#">Monto Anulados: <strong>S/ '.$elemento->ventas_anuladas.'</strong> <span class="pull-right badge bg-red">'.$elemento->ventas_anuladas_cantidad.' pedidos</span></a></li>
            </ul>
            </div>
          </div>
        </div>
        '
      ;
    }
      echo ' 
    </div>
      </div>';
    }
?>
  
<?php 
  if(!in_array($_SESSION["idempleado"],[12, 14, 15, 16, 18, 20 , 19])){
    
  echo '
  <h4>Graficos Estadisticos</h4>
  <div class="box">
    <div class="row">
      <div class="col-md-12">

        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title" style="font-size: 17px">
              Ventas Anuales
            </h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <canvas id="VentasAnuales" style="height: 250px"></canvas>
          </div>
        </div>
     
      </div>
   
      <div class="col-md-12">
      
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title" style="font-size: 17px">
              Ventas Mensuales
            </h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <div class="chart">
              <canvas id="VentasMensuales" style="height: 250px"></canvas>
            </div>
          </div>


         
        </div>
        <!-- /.box -->

        <!-- BAR CHART -->
        <!-- <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title" style="font-size: 17px">Productos Mas Vendidos</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <div class="chart">
              <canvas id="myCharst" style="height: 230px"></canvas>
            </div>
          </div>
    
        </div> -->
        <!-- /.box -->
    </div>
      <!-- /.col (RIGHT) -->
    </div>
  </div>

  '; }
?>

  <!-- /.row -->
</section>
<!-- /.content -->
<!-- ChartJS 1.0.1 -->
<?php
$obj = new Grafico();
$query_ComprasMesSucursal = $obj->ComprasMesSucursal($_SESSION["idsucursal"]);
$query_ComprasMesSucursal2 = $obj->ComprasMesSucursal($_SESSION["idsucursal"]);
$query_VentasMesSucursal = $obj->VentasMesSucursal($_SESSION["idsucursal"]);
$query_VentasMesSucursal2 = $obj->VentasMesSucursal($_SESSION["idsucursal"]);
$query_VentasDiasSucursal = $obj->VentasDiasSucursal($_SESSION["idsucursal"]);
$query_VentasDiasSucursal2 = $obj->VentasDiasSucursal($_SESSION["idsucursal"]);
$query_ProductosVendidosAno =
$obj->ProductosVendidosAno($_SESSION["idsucursal"]);
$query_ProductosVendidosAno2 =
$obj->ProductosVendidosAno($_SESSION["idsucursal"]); ?>
<!-- <script src="public/js/Chart.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>



<script>
  
  $(function () {
  $.ajax({
    url: "./ajax/GraficoAjax.php?op=traerVentasAños",
    dataType: "json",
    method:'get',
    success: function (response) {
      let dataset=[]

      response.map((e,key)=>{
       

        var color=''
          var borderColor=''
            if(e[0].año=='2019'){
               color='rgba(255, 99, 132, 1)'
               borderColor='rgba(255, 99, 132, 0.87)'
            }else if(e[0].año=='2020'){
               color= 'rgba(54, 162, 235, 1)'
               borderColor= 'rgba(54, 162, 235, 0.87)'
            }else if(e[0].año=='2021'){
               color='rgba(75, 192, 192, 1)'
               borderColor='rgba(75, 192, 192, 0.87)'
            }else if(e[0].año=='2022'){
               color= 'rgba(153, 102, 255, 1)'
               borderColor= 'rgba(153, 102, 255, 0.87)'
            }else if(e[0].año=='2023'){
               color= 'rgba(255, 206, 86, 1)'
               borderColor= 'rgba(255, 206, 86, 0.87)'
            }
            
        dataset.push({
          año:`${e[0].año}`,
          label:`Ventas ${e[0].año}`,
          data:[],
            backgroundColor: `rgba(0,119, ${124/(key+1)}, 0.0)`,
            borderColor: borderColor,
            borderWidth: 2,
            pointRadius: 3,
        })

        e.map((meses)=>{
            
            
            dataset.map(value=>{
              if(meses.año==value.año){
                  
                  value.data.push(meses.total_venta)
              }
            })
          })

      })
      var ctx = $("#VentasAnuales").get(0).getContext("2d");
      var data = {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        datasets:dataset
        }
        var myBarChart = new Chart(ctx,{
  type: 'line',
  data: data,
  options: {
    
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    },
    elements: {
        line: {
            tension: 0
        }
    }
  }
})
  }
  
})


$.ajax({
    url: "./ajax/GraficoAjax.php?op=VentasDelMesPorUsuario",
    dataType: "json",
    method:'get',
    error: function (response) {
      console.log(response.responseText)
    },
    success: function (response) {

      console.log(response)

      let labelsGrafica=[]

      let dataset=[]
      response[0].data.map((e)=>{
        labelsGrafica.push(e.fecha)
      })
        
        response.map((e,key)=>{
          var color=''
          var borderColor=''
            if(key==1){
               color='rgba(255, 99, 132, 1)'
               borderColor='rgba(255, 99, 132, 0)'
            }else if(key==2){
               color= 'rgba(54, 162, 235, 1)'
               borderColor= 'rgba(54, 162, 235, 0)'
            }else if(key==3){
               color='rgba(75, 192, 192, 1)'
               borderColor='rgba(75, 192, 192, 0)'
            }else if(key==4){
               color= 'rgba(153, 102, 255, 1)'
               borderColor= 'rgba(153, 102, 255, 0)'
            }else if(key==5){
               color= 'rgba(255, 206, 86, 1)'
               borderColor= 'rgba(255, 206, 86, 0)'
            }else if(key==0){
               color= 'rgba(255, 100, 86, 1)'
               borderColor= 'rgba(255, 206, 86, 0)'
            }
          let elementos=[]
          e.data.map((value)=>{
          
            elementos.push(value.ventas_totales)
           
          })

          
          dataset.push({
            borderWidth: 1,
         
            label:`${e.nombre}`,
            data:elementos,
            usuario:e.nombre,
            backgroundColor:borderColor,
            borderColor: color,
              borderWidth: 2,
              pointRadius: 3,
          })

          

        })
      console.log(dataset)

      // var ctx = document.getElementById('myChart').getContext('2d');
      var ctx = $("#VentasMensuales").get(0).getContext("2d");
// Crear un nuevo gráfico de barras
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels:labelsGrafica,

        datasets: dataset
            
    },
    options: {
    
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    },
    elements: {
        line: {
            tension: 0
        }
    }
  }
});
    }})

  



// 
var ctx = $("#myCharst").get(0).getContext("2d");
  var data = {
    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
  datasets: [{
    label: '# of Votes',
    data: [12, 19, 3, 5, 2, 200],
    borderWidth: 1,
    backgroundColor: ['#CB4335', '#1F618D', '#F1C40F', '#27AE60', '#884EA0', '#D35400'],
  }]
  };
  function handleHover(evt, item, legend) {
  legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
    colors[index] = index === item.index || color.length === 9 ? color : color + '4D';
  });
  legend.chart.update();
}
function handleLeave(evt, item, legend) {
  legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
    colors[index] = color.length === 9 ? color.slice(0, -2) : color;
  });
  legend.chart.update();
}
  var myBarChart = new Chart(ctx,{
    type: 'pie',
    data: data,
    options: {
     plugins: {
      legend: {
        onHover: handleHover,
        onLeave: handleLeave
      }
    }
  }
  })

  })


  // $('#liConsultaVentas').addClass("treeview active");
  // $('#liEscritorio').addClass("active");
  $('#liEstadistica').addClass("treeview active");
  $('#liEscritorioEmp').addClass("active");
</script>
