<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Establecimientos</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>

      <button class="btn btn-box-tool" data-widget="remove">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.box-header -->

  <div 
  id="motivo_reasignacionModal"
  tabindex="-1"
  style="z-index: 10000;"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  class="modal fade bs-example-modal-lg"
>
  <div class="modal-dialog modal-center modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" >
          Agregar Nuevo Motivo de Reasignacion
        </h4>

      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12"> 
            <label for="">Nuevo Motivo de Reasignacion</label>
            <input 
            type="text"
            id="txt_nuevo_motivo_reasignacion"
            class="form-control"> 
          </div>
          <div class="col-lg-12 left"  style="display: flex; justify-content: end;">
            <button type="button" class="btn btn-primary"
            id="btn_guardar_nuevo_motivo_reasignacion_empresa"
            
            style="margin:10px 0">
              Guardar
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <!--Contenido-->
        <div class="col-sm-14" id="VerForm">
          <form
            role="form"
            name="frmEstablecimiento"
            id="frmEstablecimiento"
            enctype="multipart/form-data"
          >
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <label>Informacion de Establecimiento</label><br />
                <input
                  type="hidden"
                  class="form-control"
                  placeholder="Ubicacion de Envio"
                  id="idEstablecimiento"
                  name="idEstablecimiento"
                  style="text-transform: uppercase"
                />

              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group has-success">
                      <label>Tipo de Establecimiento (*):</label>
                      <select 
                      name="txtTipoEstablecimiento" id="txtTipoEstablecimiento"
                      class="form-control tipo_establecimiento_select"
                      placeholder="Tipo de Establecimiento (*)"
                      >
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group has-success">
                      <label>Nombre de Establecimiento (*):</label>
                      <input
                        id="txtNombreEstablecimiento"
                        name="txtNombreEstablecimiento"
                        type="text"
                        maxlength="150"
                        class="form-control"
                        required=""
                        placeholder="Nombre de Establecimiento (*)"
                        autofocus=""
                      />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 left">
                    <div class="form-group has-success">
                      <label>Departamento - Provincia - Distrito (*):</label>
    
                      <input
                        type="hidden"
                        class="form-control"
                        
                        placeholder="Ubicacion de Establecimiento (*)"
                        list="ubicacions"
                        id="id_ubicacion_envio_array"
                        name="id_ubicacion_envio_array"
                        style="text-transform: uppercase"
                      />
    
                      <input
                        type="text"
                        class="form-control"
                  
                        placeholder="Ubicacion de Establecimiento"
                        list="ubicacion"
                        id="txt_ubicacion_establecimiento"
                        name="txt_ubicacion_establecimiento"
                        style="text-transform: uppercase"
                      />
                      <datalist id="ubicacion" class="ubicacion_containe_options">
                      </datalist>
                    </div>
                  </div>


                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group has-success">
                      <label>verificacion  (*):</label>
                    
                      <select 
                      name="txt_verificacion" id="txt_verificacion"
                   required
                      class="form-control "
                      placeholder="verifacion (*)"
                      >
                      <option value="SIN VERIFICAR">Sin Verificar</option>
                      <option value="VERIFICADO">Verificado</option>
                    </select>
                  </div>
                  </div>

                  <div
                  id="motivo_reasignacionModalporCliente"
                  class="modal fade bs-example-modal-lg"
                  tabindex="-1"

                  data-backdrop="static"
                  data-keyboard="false"

                  role="dialog"
                  aria-labelledby="myLargeModalLabel"
                >
                  <div class="modal-dialog modal-center modal-md">
                    <div class="modal-content">
                      <div class="modal-header">
                       
                        <h4 class="modal-title">Agregar Motivo de Reasignacion</h4>
                      </div>
                      <div class="modal-body">
                       
                      
                          <label for="">Motivo De Reasignacion</label>
                          <div class="form-group has-success">
                            <label>Motivo de Resignacion:</label>
                            <div style="display: flex;">
          
                              <select
                              id="idselect_motivo_reasignacion_por_cliente"
          
                              name="idselect_motivo_reasignacion_por_cliente"
                              class="form-control select_motivo_reasignacion"
                              
                              
                              ></select>
                              <button style="margin:  0 10px;" class="btn btn-primary"   onclick="motivo_reasignacionModal()"
                              type="button"
                              > 
                                <i class="glyphicon glyphicon-plus"></i>
                              </button>
                            </div>
                          </div>
          
                      </div>
                     
                     
                    </div>
                  </div>
                </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                    <div class="form-group has-success">
                      <label>Empleado Asignado (*):</label>

                      <select 
                      name="txtEmpleadoAsignado"
                      
                      id="txtEmpleadoAsignado"
                
                      class="form-control tipo_empleadoAsignadoEstablecimiento"
                      placeholder="Empleado  Asignado (*)"
                      >

                      </select>
                    </div>
                  </div>





                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left">
                    <div class="form-group has-success">
                      <label>Dirección Establecimiento (*):</label>
                      <input
                        id="txtDireccionEstablecimiento"
                        type="text"
                        maxlength="150"
                        class="form-control"
                        name="txtDireccionEstablecimiento"
                       
                        placeholder="Dirección Establecimiento (*)"
                        autofocus=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
               

                <div class="row">
                  <div class="col-lg-12">
                    <!-- <div class="form-group has-success"> -->
                   
                    <div class="row margin">
                      <div class="col-lg-2">

                          <label for="">Lunes</label>
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_ini_lunes" 
                        name="hor_ini_lunes"
                         
                       class="form-control horaInicio">
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_fin_lunes" 
                        name="hor_fin_lunes"
                         
                        class="form-control horaFin">
                    </div>
                  </div>

                    <div class="row margin">
                      <div class="col-lg-2">
                          <label for="">Martes</label>
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_ini_martes" 
                        name="hor_ini_martes"
                         
                       class="form-control horaInicio">
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_fin_martes" 
                        name="hor_fin_martes"
                         
                       class="form-control horaFin">
                      </div>

                    </div>
                    <div class="row margin">
                      <div class="col-lg-2">
                          <label for="">Miercoles</label>
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_ini_miercoles" 
                        name="hor_ini_miercoles"
                         
                       class="form-control horaInicio">
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_fin_miercoles" 
                        name="hor_fin_miercoles"
                         
                       class="form-control horaFin">
                      </div>

                    </div>
                    <div class="row margin">
                      <div class="col-lg-2">
                          <label for="">Jueves</label>
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_ini_jueves" 
                        name="hor_ini_jueves"
                         
                       class="form-control horaInicio">
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_fin_jueves" 
                        name="hor_fin_jueves"
                         
                       class="form-control horaFin">
                      </div>

                    </div>
                    <div class="row margin">
                      <div class="col-lg-2">
                          <label for="">Viernes</label>
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_ini_viernes" 
                        name="hor_ini_viernes"
                         
                       class="form-control horaInicio">
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_fin_viernes" 
                        name="hor_fin_viernes"
                         
                       class="form-control horaFin">
                      </div>

                    </div>
                    <div class="row margin">
                      <div class="col-lg-2">
                          <label for="">Sabado</label>
                      </div>
                      <div class="col-lg-5">

                        <input type="hidden" 
                        id="txtHorario" 
                        name="txtHorario"
                         
                       class="form-control ">

                        <input type="time" 
                        id="hor_ini_sabado" 
                        name="hor_ini_sabado"
                         
                       class="form-control horaInicio">
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_fin_sabado" 
                        name="hor_fin_sabado"
                         
                       class="form-control horaFin">
                      </div>

                    </div>
                    <div class="row margin">
                      <div class="col-lg-2">
                          <label for="">Domingo</label>
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_ini_domingo" 
                        name="hor_ini_domingo"
                         
                       class="form-control horaInicio">
                      </div>
                      <div class="col-lg-5">
                        <input type="time" 
                        id="hor_fin_domingo" 
                        name="hor_fin_domingo"
                         
                       class="form-control horaFin">
                      </div>

                    </div>

                  </div>
                </div>
              </div>
             

            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <label> Informacion del Dueño</label><br />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                <div class="form-group has-success">
                  <label>Dueño o Administrador(*):</label>
                  <input
                    id="txtNombre"
                    type="text"
                    maxlength="150"
                    class="form-control"
                    name="txtNombre"
                   
                    placeholder="Dueño o Administrador"
                    autofocus=""
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                <div class="form-group has-success">
                  <label>Nº Celular del Dueño(*):</label>
                  <input
                    id="txtTelefono"
                    type="number"
                    maxlength="150"
                    class="form-control"
                    name="txtTelefono"
                    required
                    placeholder="Nº Celular del Dueño"
                    autofocus=""
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <label>Fotografías Establecimiento </label><br />
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                <div class="form-group has-success">
                  <label>Fotografías Fachada(*):</label>

                  <input
                    id="txtFileFotografia"
                    type="file"
                    class="form-control"
                    name="txtFileFotografia"
                    multiple
                      
                    placeholder="Fotografías Fachada"
                    autofocus=""
                  />
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left">
                <label style="opacity: 0">Observaciones:</label>
                <div style="display: flex">
                  <div
                    class="col"
                    id="image-preview-container"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-wrap: wrap;
                    "
                  ></div>
                  <button
                    type="button"
                    class="btn btn-danger"
                    id="btn_todos_eliminar_imagen"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
              <style>
                .image-preview-container {
                  /* display: flex;
          flex-wrap: wrap;
          margin: 0 2px !important; */
                }
                .my-images_preview {
                  /* transition: all 0.2s ease; */
                  /* box-shadow: 1px 1px 1px 1px #31b0d3; */
                  margin: 0 10px;
                  border: solid 1px gray;
                  border-radius: 4px;
                }
                .my-images_preview:active {
                  /* background-color: red !important; */
                  width: 700px !important;
                  position: fixed;

                  top: 50%;
                  left: 50%;

                  transform: translate(-50%, -50%);
                  z-index: 100000;

                  /* height: 100% !important; */
                }
              </style>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <label> Sección Mapas</label><br />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 left">
                <div class="form-group has-success">
                  <label>ubigeo (*):</label>
                  <input
                    id="txtUbicacion"
                    type="text"
                    maxlength="150"
                    class="form-control"
                    name="txtUbicacion"
                    
                    placeholder="ubigeo "
                    autofocus=""
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <label> Imagenes Fachada de Empresa</label><br />
              </div>
              <ul
                class="col-lg-12 left mailbox-attachments clearfix"
                id="container_img_empresa"
              ></ul>
            </div>

            <div class="row">
              <div class="col-lg-12 left">
                <h5></h5>
                <button
                  class="btn btn-success"
                  type="submit"
                  id="btnRegistrar_Establecimiento"
                >
                  <i class="fa fa-floppy-o"></i> Registrar
                </button>
                <a href="Establecimiento.php" class="btn btn-primary"
                  ><i class="fa fa-remove"></i> Cancelar</a
                >
                <hr />
                <span class="lead text-primary"></span>
              </div>
            </div>
          </form>
        </div>

        
        
        <div class="col-md-12">
          
        </div>
          <input type="hidden"
          id="idrol_g"
          value=<?php echo $_SESSION["idrol"]?>
          >

          <input type="hidden"
          id="idempleado_g"
          value=<?php echo $_SESSION["idempleado"]?>
          >

        <div class="row" id="container_select_button">
          <?php if($_SESSION["idrol"]==2 || $_SESSION["idrol"]==7  || $_SESSION["idrol"]==3){
            
            echo ' 
            <div class="col-lg-2" style="display:flex;
            flex-direction:column;
            
            ">
                  <label 
                  style="opacity: 0;"
                  for="">ubicacion</label>
  
              <button class="btn btn-primary" id="btnNuevoEstablecimiento">
                <i class="fa fa-file"></i> Nuevo
              </button>
            </div>
            ';
          } ?>
          <div class="col-lg-4">
                  <label for="">ubicacion</label>
                  <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Ubicacion de Envio"
                  list="ubicacionSelect"
                  id="txt_ubicacionSelect"
                  name="txt_ubicacionSelect"
                  style="text-transform: uppercase"
                  />
                  <datalist id="ubicacionSelect" class="ubicacion_containe_options">
                  </datalist>
              
          </div>
          <div class="col-lg-3">
            <label for="">Tipo de Establecimiento</label>
            <select name="tipo_de_establecimiento_select" id="tipo_de_establecimiento_select" class="form-control
            tipo_establecimiento_select
            ">
            </select>
          </div>
          <div class="col-lg-3">
            <label for="">Nº Total de Resultados de Búsqueda</label>
              <input
              type="text"
              class="form-control"
              required
              disabled
              placeholder="Nº Total de Resultados de Búsqueda"
              id="txt_resultados_busquedas"
              name="txt_resultados_busquedas"
              style="text-transform: uppercase"
              />
          </div>
        </div>
     
        <br /><br />
        <div id="VerListado" class="table-responsive">
          <table
            id="tblEstablecimientos"
            class="table table-striped table-bordered table-condensed table-hover"
            cellspacing="0"
            cellpadding="0"
            width="100%"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Departamento</th>
                <th>Tipo de Establecimiento</th>
                <th>Dirección de Establecimiento</th>
                <th>Nombre de Establecimiento</th>
                <th>Dueño o administrador</th>
                <th>EVC Responsable</th>
                <th>Verificacion</th>

                <th>Opciones</th>
                <th>idTipoEstablecimiento</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>#</th>
                <th>Departamento</th>
                <th>Tipo de Establecimiento</th>
                <th>Dirección de Establecimiento</th>
                <th>Nombre de Establecimiento</th>
                <th>Dueño o administrador</th>
                <th>EVC Responsable</th>
                <th>Verificacion</th>

                <th>Opciones</th>
                <th>idTipoEstablecimiento</th>
              </tr>
            </tfoot>

            <tbody id="sucursal"></tbody>
          </table>
        </div>
        <!--Fin-Contenido-->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
<script type="text/javascript" src="public/scripts/Establecimiento.js"></script>

<script type="text/javascript">
  $("#liVentasCampo").addClass("treeview active");
  $("#liEstablecimiento").addClass("active");


  $('.select_motivo_reasignacion').focus(function() {
    traerMotivoReasignacion()
  })

  function traerMotivoReasignacion(){
    $.ajax({
      url: "./ajax/ClienteAjax.php?op=traerMotivoReasignacionEmpresa",
      dataType: "json",
      type: "get",
      success: function (rpta) {

        console.log(rpta);
        var ubicacion_containe_options_html = '<option value=""></option>';

        rpta.map((e) => {
          ubicacion_containe_options_html += `<option data-id='${e.idmotivo_reasignacion}' value='${e.idmotivo_reasignacion}'> ${e.descripcion} </option>`;
        });

        $(".select_motivo_reasignacion").html(ubicacion_containe_options_html);
      },
      error: function (e) {
        console.log(e)
      },
    });
  }




  traerUbicacion();
  function traerUbicacion() {
    $.ajax({
      url: "./ajax/ClienteAjax.php?op=traerUbicacion",
      dataType: "json",
      type: "get",
      success: function (rpta) {
        var ubicacion_containe_options_html = "";

        rpta.map((e) => {
          ubicacion_containe_options_html += `<option data-id='${e.idubicacion}' value='${e.ubicacion}'>${e.idubicacion}</option>`;
        });
        // console.log(rpta);

        $(".ubicacion_containe_options").html(ubicacion_containe_options_html);
      },
      error: function (e) {},
    });
  }

  // $('#txtTipoEstablecimiento')





</script>
