<section class="content-header">
  <h1>FLUJOGRAMA CHAT</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
    src="https://onedrive.live.com/embed?cid=0DCF2FF03282E5E9&resid=DCF2FF03282E5E9%21189092&authkey=AA9ZfkAp4XiHEoM&em=2" allowfullscreen
    frameborder="0"
    scrolling="no"
    wdDownloadButton=False
  ></iframe>
</div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $("#liFlujogramaChat").addClass("treeview active");
</script>
