<section class="content-header">
  <h1>FO-OLG-ALM-001</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
    src="https://onedrive.live.com/embed?cid=0DCF2FF03282E5E9&resid=DCF2FF03282E5E9%21192775&authkey=AEJyLJF5Xjdbi0w&em=2&wdHideSheetTabs=true&wdAllowInteractivity=True&ActiveCell=A1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True" allowfullscreen
    scrolling="no"
    wdDownloadButton=True
    ActiveCell="A1"
    wdHideGridlines=True
    wdHideHeaders=True
    wdHideSheetTabs=True
  ></iframe>
</div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $("#liDocumentacion").addClass("treeview active");
  $("#liDocLogistica").addClass("treeview active");
  $("#liFormatosLog").addClass("treeview active");
  $("#lialm_almacenamiento").addClass("treeview active");
  $("#liFOOLGALM001").addClass("treeview active");
</script>