<section class="content-header">
  <h1>FO-OMK-GMK-003</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
    src="https://onedrive.live.com/embed?cid=0DCF2FF03282E5E9&resid=DCF2FF03282E5E9%21192861&authkey=ACHxBo9Hg7kvgus&em=2&wdHideSheetTabs=true&wdAllowInteractivity=True&ActiveCell=A1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True" allowfullscreen
    scrolling="no"
    wdDownloadButton=True
    ActiveCell="A1"
    wdHideGridlines=True
    wdHideHeaders=True
    wdHideSheetTabs=True
  ></iframe>
</div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $("#liDocumentacion").addClass("treeview active");
  $("#liDocMarketing").addClass("treeview active");
  $("#liFormatosMkt").addClass("treeview active");
  $("#liFOOMKGMK003").addClass("treeview active");
</script>