<section class="content-header">
  <h1>PR-OVT-GVT-002</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
<!-- /.EXCEL CONTENIDO EJEMPLO-->
  <iframe class="embed-responsive-item" frameborder="0" scrolling="no"
    src="https://onedrive.live.com/embed?cid=0DCF2FF03282E5E9&resid=DCF2FF03282E5E9%21192014&authkey=AIftreV-jccuQD4&em=2&wdHideSheetTabs=true&wdAllowInteractivity=True&ActiveCell=A1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True" allowfullscreen
    wdDownloadButton=True
    ActiveCell="A1"
    wdHideGridlines=True
    wdHideHeaders=True
    wdHideSheetTabs=True

    wdAllowInteractivity=True
    &wdbipreview=true
    Item=PivotTable1
  ></iframe>
</div>
</section>
<!-- /.content-->

<script type="text/javascript">
  $('#liDocumentacion').addClass("treeview active");
  $('#liDocVentas').addClass("treeview active");
  $("#liFormato").addClass("treeview active");
  $("#liFOOVTGVT002").addClass("treeview active");
</script>

