<section class="content-header">
  <h1>1. INVENTARIO DE MANUALES OFZ</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
    src="https://onedrive.live.com/embed?cid=0DCF2FF03282E5E9&resid=DCF2FF03282E5E9%21196024&authkey=AK9OYytZ9exfD6c&em=2" allowfullscreen
    scrolling="no"
    wdDownloadButton=False
    ActiveCell="A1"
    wdHideGridlines=True
    wdHideHeaders=True
    wdHideSheetTabs=True
  ></iframe>
</div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $('#liDocumentacion').addClass("treeview active");
  $('#liDocFinanzas').addClass("treeview active");
  $("#liManualFz").addClass("treeview active");
  $("#liInventarioManualesFz").addClass("treeview active");
</script>