<div class="panel panel-default">
  <div class="panel-heading">
    <div class="box-header with-border">
      <h3 class="box-title">Kardex</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>

        <button class="btn btn-box-tool" data-widget="remove">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group row">
          <label for="slc_producto" class="col-sm-2 control-label mt-2"
            >Buscar Artículo</label
          >
          <div class="col-sm-10">
            <select
              class="form-control form-control-select2 form-control-lg"
              name="slc_producto"
              id="slc_producto"
              required
              style="width: 100%"
            >
              <option value="- Elegir opción -">- Elegir opción -</option>
            </select>
          </div>
        </div>
        <div class="col-lg-5 fechas_kardex">
          <div class="form-group ">
            <label for="inputMarca">Desde :</label>
            <input id="cboFechaDesdeDetKardex" type="date" value=""
            maxlength="50" class="form-control" name="cboFechaDesdeDet"
            required="" />
          </div>
        </div>

        <div class="col-lg-5 fechas_kardex">
          <div class="form-group ">
            <label for="inputMarca">Hasta :</label>
            <input id="cboFechaHastaDetKardex" type="date" value="<?php echo date("Y-m-d"); ?>"
            maxlength="50" class="form-control" name="cboFechaHastaDet"
            required="" />
          </div>
        </div>

        <div class="col-lg-2 fechas_kardex">
          <div class="form-group ">
            <label for="sucursal_kardex">sucursal</label>
            <select id="sucursal_kardex" name="sucursal_kardex" class="form-control" required>
              <option value=""></option>
              <option value="2">Lima</option>
              <option value="1">Arequipa</option>
          </select>
          </div>
        </div>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
<div></div>
<div
  id="modalListadoSuscursal"
  class="modal fade bs-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Listado de Sucursales</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table
            id="tblSucursales"
            class="table table-striped table-bordered table-condensed table-hover"
            cellpadding="0"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th>Seleccione</th>
                <th>#</th>
                <th>Razón Social</th>
                <th>Documento</th>
                <th>Dirección</th>
                <th>E-Mail</th>
                <th>Logo</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>Seleccione</th>
                <th>#</th>
                <th>Razón Social</th>
                <th>Documento</th>
                <th>Dirección</th>
                <th>E-Mail</th>
                <th>Logo</th>
              </tr>
            </tfoot>

            <tbody id="Sucursales"></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-remove"></i> Cerrar
        </button>
        <button type="button" id="btnAgregarSucursal" class="btn btn-primary">
          <i class="fa fa-plus"></i> Agregar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <table id="tblVentaPedido" class="table table-striped table-bordered" cellspacing="0" width="100%"> -->
<table
  id="tblKardex"
  class="table table-striped table-bordered"
  cellspacing="0"
  width="100%"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th>Movimiento</th>
      <th>Order</th>
      <th>Cliente(Nombre/Apellido)</th>
      <th>Proveedor</th>
      <th>Stock anterior</th>
      <th>Cantidad</th>
      <th>Stock Actual</th>
      <th>Sucursal</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th>Movimiento</th>
      <th>Order</th>
      <th>Cliente(Nombre/Apellido)</th>
      <th>Proveedor</th>
      <th>Stock anterior</th>
      <th>Cantidad</th>
      <th>Stock Actual</th>
      <th>Sucursal</th>
    </tr>
  </tfoot>
</table>

<link
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- <script type="text/javascript" src="./public/js/select2.min.js"></script> -->

<script type="text/javascript">
  $("#liConsultaCompras").addClass("treeview active");
  $("#liKardex").addClass("active");
  //$("#txtNombre").numeric();
  var editor = 0;
  $('.fechas_kardex').hide()
  function ListadoVenta() {
    var tabla = $("#tblKardex")
      .dataTable({
        aProcessing: true,
        aServerSide: true,
        pageLength: 30,
        dom: "Bfrtip",
        buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
        aoColumns: [
          {
            mDataProp: "0",
          },
          {
            mDataProp: "1",
          },
          {
            mDataProp: "2",
          },
          {
            mDataProp: "3",
          },
          {
            mDataProp: "4",
            sClass: "text-center",
          },
          {
            mDataProp: "5",
            sClass: "text-center",
          },
          {
            mDataProp: "6",
          },
          {
            mDataProp: "7",
          },
          {
            mDataProp: "8",
          }, {
            mDataProp: "9",
          },
        ],
        ajax: {
          url: "./ajax/KardexAjax.php?op=TraerDatosTablaKardex",
          type: "get",
          dataType: "json",
          data: function (d) {
            d.q = $("#slc_producto").val()
            d.fecha_desde=$("#cboFechaDesdeDetKardex").val()
            d.fecha_hasta=$("#cboFechaHastaDetKardex").val()
            d.sucursal=$("#sucursal_kardex").val()
          },
          error: function (e) {
            console.log(e.responseText);
          },
        },
        bDestroy: true,
      })
      .DataTable();

    $("#slc_producto").on("select2:select", function (e) {
      tabla.ajax.reload();
      $('.fechas_kardex').show()

    });

    $("#cboFechaDesdeDetKardex").change("select2:select", function (e) {
      tabla.ajax.reload();
    });
    
    $("#sucursal_kardex").change( function (e) {
      tabla.ajax.reload();
    });

	$("#cboFechaHastaDetKardex").change("select2:select", function (e) {
      tabla.ajax.reload();
    });

  }

  $(function () {
    function formatRepo(repo) {
      if (repo.loading) return repo.texto;
      var markup =
        "<option value='" + repo.id + "' > " + repo.texto + " </option>";
      return markup;
    }

    function formatRepoSelection(repo) {
      return repo.texto || repo.id;
    }

    $("#slc_producto").select2({
      ajax: {
        url: "./ajax/KardexAjax.php?op=BuscarArticulos",
        dataType: "json",
        delay: 250,
        data: function (params) {
          return {
            q: params.term,
            page: params.page,
          };
        },
        processResults: function (data, params) {
          params.page = params.page || 1;
          return {
            results: data.items,
            pagination: {
              more: params.page * 30 < data.total_count,
            },
          };
        },
        cache: true,
      },
      escapeMarkup: function (markup) {
        return markup;
      },
      // minimumInputLength: 1,

      language: {
        inputTooShort: function () {
          return "Ingresar 3 caracteres para buscar...";
        },
      },
      templateResult: formatRepo,
      templateSelection: formatRepoSelection,
    });
  });
</script>
