<section class="content-header">
  <h1>MA-OVT-GVT-006</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
    src="#" allowfullscreen
    scrolling="no"
    wdDownloadButton=False
    ActiveCell="A1"
    wdHideGridlines=True
    wdHideHeaders=True
    wdHideSheetTabs=True
  ></iframe>
</div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $('#liDocumentacion').addClass("treeview active");
  $('#liDocVentas').addClass("treeview active");
  $("#liManual").addClass("treeview active");
  $("#liMAOVTGVT006").addClass("treeview active");
</script>
