<section class="content-header">
  <h1>PR-OGR-GGR-001</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
    src="https://onedrive.live.com/embed?cid=0DCF2FF03282E5E9&resid=DCF2FF03282E5E9%21189564&authkey=AGhDRwR0FbQoFAM&em=2" allowfullscreen
    scrolling="no"
    wdDownloadButton=False
    ActiveCell="A1"
    wdHideGridlines=True
    wdHideHeaders=True
    wdHideSheetTabs=True
  ></iframe>
</div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $('#liDocumentacionOGR').addClass("treeview active");
  $("#liProcedimientosOGR").addClass("treeview active");
  $("#liPROGRGGR001").addClass("treeview active");
</script>