<section class="content-header">
  <h1>PR-OVT-GVT-006</h1>
</section>
<section class="content">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"
    src="https://onedrive.live.com/embed?cid=0DCF2FF03282E5E9&resid=DCF2FF03282E5E9%21190814&authkey=ALhCA2leDr1wvSY&em=2"  allowfullscreen
    scrolling="no"
    wdDownloadButton=False
    ActiveCell="A1"
    wdHideGridlines=True
    wdHideHeaders=True
    wdHideSheetTabs=True
  ></iframe>
</div>
</section>
<!-- /.content -->

<script type="text/javascript">
  $('#liDocumentacion').addClass("treeview active");
  $("#liProcedimientos").addClass("treeview active");
  $("#liPROVTGVT006").addClass("treeview active");
</script>
