<div class="panel panel-default">
  <div class="panel-heading">
    <div class="box-header with-border">
      <h3 class="box-title" id="lblTitle">Listado de Traslados</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>

        <button class="btn btn-box-tool" data-widget="remove">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body" id="body_Traslados">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-14" id="VerFormPed">
          <form
            name="frmTraslados"
            id="frmTraslados"
            enctype="multipart/form-data"
          >
            <div class="row">
              <div
                class="col-sm-12 col-sm-offset-0 col-lg-12 col-lg-offset-0 main"
              >
                <div class="row">
                  <div class="col-lg-4 left">
                    <label id="inputTipoPed">Almacen Inicial:</label>
                    <div class="form-group has-success">
                      <!-- <input id="idtxtSucursalTraslado" type="hidden" class="form-control" name="txtSucursal" required="" disabled value="<?php echo $_SESSION[" idsucursal"] ?>" placeholder="Seleccione una Sucursal" autofocus=""  /> -->
                      <input id="idtxtSucursalTraslado"   type="hidden" value="<?php echo $_SESSION["idsucursal"]?>"
                      class="form-control" name="txtSucursal" required=""
                      placeholder="Seleccione una Sucursal" autofocus=""
                      disabled/>

                      <input id="txtSucursalTraslado" type="text" value="<?php echo $_SESSION["sucursal"]?>"
                      class="form-control" name="txtSucursal" required=""
                      placeholder="Seleccione una Sucursal" autofocus=""
                      disabled/>
                    </div>
                  </div>
                  <div class="col-lg-4 left">
                    <label id="cboTipoAlmacenFinal">Almacen Final:</label>
                    <div class="form-group has-success">
                      <select
                        id="almacenFinal"
                        name="cboTipoPedido"
                        class="form-control"
                        required
                      >
                        <option value="2">Lima</option>
                        <option value="1">Arequipa</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Motivo de Traslado</label>
                  <textarea
                    id="motivo_de_traslado"
                    maxlength="500"
                    class="form-control"
                    rows="3"
                    placeholder="Enter ..."
                  ></textarea>
                </div>

                <div class="row">
                  <div class="col-lg-6 left">
                    <div class="form-group">
                      <button
                        type="button"
                        id="btnBuscarDetTraslados"
                        class="btn btn-info"
                      >
                        <i class="fa fa-search"></i> Buscar Productos por
                        Almacén
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-9 col-lg-12 main" id="VerDetallePedido">
              <div class="table-responsive">
                <table
                  class="table table-striped table-bordered table-condensed table-hover"
                  cellpadding="0"
                  cellspacing="0"
                  border="1"
                  class="display"
                  id="tblDetallePedidoTraslado"
                >
                  <thead>
                    <tr>
                      <th>Productos</th>
                      <th>Codigo</th>
                      <th>F. Vencimiento</th>
                      <th>Marca</th>
                      <th>Cantidad Lote Actual</th>
                      <th>Cantidad a Transladar</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>

            <div class="col-lg-12 left" id="VerRegPedido">
              <p></p>
              <button class="btn btn-success" type="submit">
                <i class="fa fa-floppy-o"></i> Guardar
              </button>
              <a href="Traslados.php" class="btn btn-primary"
                ><i class="fa fa-remove"></i> Cancelar</a
              >
              <hr />
              <span class="lead text-primary"></span>
            </div>

            <!-- <br><br> -->
          </form>
        </div>
      </div>

      <div class="col-md-12">
        <button class="btn btn-primary" id="btnNuevoPedido_nuevo">
          <i class="fa fa-file"></i> Nuevo Traslado
        </button>
        <br /><br />
        <div id="VerListado" class="table-responsive">
          <table
            id="tblTraslados"
            class="table table-striped table-bordered"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Almacen Inicial</th>
                <th>Almacen Destino</th>
                <th>Motivo del Translado</th>
                <th>Cantidad Total de Productos</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody></tbody>

            <tfoot>
              <tr>
                <th>Fecha</th>
                <th>Fecha</th>
                <th>Almacen Inicial</th>
                <th>Almacen Destino</th>
                <th>Motivo del Translado</th>
                <th>Cantidad de Total de Productos</th>
                <th>Opciones</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!--Fin-Contenido-->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-body -->

  <div class="box-body" id="body_Traslados">
    <div class="col-sm-14" id="VerFormTrasladosDetalles">
      <form name="frmTraslados" id="frmTraslados" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-12 col-sm-offset-0 col-lg-12 col-lg-offset-0 main">
            <div class="row">
              <div class="col-lg-4 left">
                <label id="inputTipoPed">Almacen Inicial:</label>
                <div class="form-group has-success">
                  <input id="idtxtSucursalTraslado" type="hidden" value="<?php echo $_SESSION[" idsucursal"] ?>"
                  class="form-control" name="txtSucursal" required=""
                  placeholder="Seleccione una Sucursal" autofocus="" disabled/>
                  <input
                    id="info_traslado_inicial"
                    class="form-control"
                    type="text"
                    value=""
                    disabled
                  />
                </div>
              </div>
              <div class="col-lg-4 left">
                <label id="cboTipoAlmacenFinal">Almacen Final:</label>
                <div class="form-group has-success">
                  <input
                    id="info_traslado_final"
                    class="form-control"
                    type="text"
                    value=""
                    disabled
                  />
                </div>
              </div>
              <div class="col-lg-4 left">
                <label id="cboTipoAlmacenFinal">Estado de Traslado:</label>
                <div class="form-group has-success">
                  <select
                    id="estadoTraslado"
                    name="estadoTraslado"
                    class="form-control"
                    required
                  ></select>
                </div>
              </div>
              <div class="col-lg-6 left">
                <div class="form-group">
                  <label>Fecha de Registro</label>
                  <input
                    id="info_fecha_registro"
                    class="form-control"
                    type="text"
                    value=""
                    disabled
                  />
                </div>
              </div>

              <div class="col-lg-6 left">
                <div class="form-group">
                  <label>Fecha de Modificacion </label>
                  <input
                    id="info_fecha_modificado"
                    class="form-control"
                    type="text"
                    value=""
                    disabled
                  />
                </div>
              </div>
              <div class="col-lg-6 left">
                <div class="form-group">
                  <label>Registrado Por</label>
                  <input
                    id="info_usuario_registro"
                    class="form-control"
                    type="text"
                    value=""
                    disabled
                  />
                </div>
              </div>
              <div class="col-lg-6 left">
                <div class="form-group">
                  <label>Recibido Por</label>
                  <input
                    id="info_usuario_recepcion"
                    class="form-control"
                    type="text"
                    value=""
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Motivo de Traslado</label>
              <textarea
                id="info_traslado_motivo"
                maxlength="500"
                disabled
                class="form-control"
                rows="3"
                placeholder="Enter ..."
              ></textarea>
            </div>

            <div class="form-group" id="container_descripcion_recepcion">
              <label>Descripcion de Entrega</label>
              <textarea
                id="info_descripcion_recepcion"
                maxlength="500"
                class="form-control"
                rows="3"
                placeholder="Enter ..."
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-lg-12 main" id="VerDetallePedido">
            <div class="table-responsive">
              <table
                class="table table-striped table-bordered table-condensed table-hover"
                cellpadding="0"
                cellspacing="0"
                border="1"
                class="display"
                id="tblDetallePedidoTrasladoRecibido"
              >
                <thead>
                  <tr>
                    <th>Productos</th>
                    <th>Codigo</th>
                    <th>F. Vencimiento</th>
                    <th>Marca</th>
                    <th>Cantidad Trasladada</th>
                    <th>Cantidad Recibida</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-12 left" id="VerRegPedido" style="display: flex;">
          <!-- <p></p> -->
          <!-- <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Guardar</button> -->
          <div id="containerGuardarCambiarEstado" style="margin: 0 5px;">
            <button
              class="btn btn-success"
              id="guardarCambiarEstado"
              type="button"
            >
              Guardar
            </button>
          </div>

          <a href="Traslados.php" class="btn btn-primary"
            ><i class="fa fa-remove"></i> Cerrar</a
          >
          <!-- <hr /> -->
          <span class="lead text-primary"></span>
        </div>

        <!-- <br><br> -->
      </form>
    </div>
  </div>
</div>
<!-- /.box -->

<div
  id="modalListadoArticulosTraslados"
  class="modal fade bs-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Lista de Productos MedicFitcen</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table
            id="tblArticulosPedTraslados"
            class="table table-striped table-bordered table-condensed table-hover"
            cellpadding="0"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th>Añadir</th>
                <th>Lote</th>
                <th>Producto</th>
                <th>Marca</th>
                <th>Vencimiento</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Imagen</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Añadir</th>
                <th>Lote</th>
                <th>Producto</th>
                <th>Marca</th>
                <th>Vencimiento</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Imagen</th>
              </tr>
            </tfoot>
            <tbody id="ArticuloPed" style="text-align: center"></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-remove"></i> Cerrar
        </button>
        <!--<button type="button" id="btnAgregarArtPed" class="btn btn-primary">
<i class="fa fa-plus"></i> Agregar</button>-->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#liConsultaCompras").addClass("treeview active");
  $("#liTraslados").addClass("active");
</script>
